/* fonts */
@font-face{
    font-family:apercumono;
    src:url(fonts/ApercuMono.otf);
}
@font-face{
  font-family: calluna;
  src:url(fonts/CallunaSansRegular.otf);
}
/* general */
body,html{
    margin:0px;
    padding:0px;
    overflow:hidden;
}
/* util */
.vertical-center{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
/* backgrounds */
.top-background{
  background:radial-gradient(ellipse at bottom, #202c3a 0%, #0e0f14 100%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}
/* navbar */
.navbar{
    height: 12vh;
    max-height: 80px;
    min-height: 50px;
    min-width: 720px;
    width:100%;
    transition:all .5s;
}
.navbar:hover{
  background:black;
}
.navbar > .sub { 
    margin: auto; 
    padding: 0; 
    list-style: none; 
    display: table;
    text-align: left;
}
.navbar > .sub > li { 
    float: left;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    line-height: 7vh;
}
.navbar > .sub > li > a {
    font-family: calluna;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    cursor:pointer;
    display: inline-block;
    padding-top:15px;
    margin-top:15px;
    padding: 0px 20px;
    position: relative;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.navbar > .sub > li > a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.navbar > .sub > li > a:hover:after { 
    width: 50%; 
    left: 25%; 
}
.navbar > .sub > li > ul{
  padding-top:15px;
  display: inline-block;
}
.navbar > .sub > li > ul:before{
  display: none;
}
.navbar > .sub > li > ul > li{
  padding-left:15px;
}
/* slideshow */
.slideshow-wrapper{
    position: relative;
}
.slideshow-header{
    height: 50px;
    text-align:center;
}
/*slideshow  header styles */
.slideshow-header > h1{
    margin:0px;
    font-family: apercumono;
    color:white;
    font-weight: 300;
    letter-spacing: -3px;
    display:inline-block;
}
.typed-cursor {
    font-family: apercumono;
    font-weight: 100;
    font-size: 32px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    /* vertical centering */
    position:relative;
    top:7px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
/* slideshow styles */
.slideshow{
    height: 600px;
    transform:translateY(0px);
    overflow:hidden;
}
/* slideshow button styles */
.slideshow-btn-wrapper{
  height:calc(40% + 4px);
  width:64px;
  position: absolute;
  top:30%;
  z-index:3;
  border:1px solid white;
  border-left:none;
}
.slideshow-btn{
  top:1px;
  border:1px solid black;
  background:rgba(40, 40, 40,0.7);
  height:calc(100% - 2px);
  width:calc(100% - 2px);
  cursor:pointer;
  transition:all .3s;
  text-align:center;
}
.slideshow-btn-left{
  border-radius:15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.slideshow-btn-right{
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left:1px solid white;
  border-right:none;
  right:0px;
  position: absolute;
}
.slideshow-btn-right > div.slideshow-btn{
  border:1px solid black;
  top:0px;
}
.slideshow-btn:hover{
  background:rgba(61, 61, 61,0.7);
}
.slideshow-btn:active{
  transition:all 0s;
  background:rgba(43, 43, 43,0.7);
  cursor:default;
}
.slideshow-arrow-wrapper{
    border: 1px solid white;
    border-radius: 15px;
    display: inline;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    top:calc(50% - 12px);
    transform:translateY(-50%);
    opacity: 0.8;
}
.wrap-right{
  margin-top:12px;
  margin-left:12px;
}
.wrap-left{
    margin-top:-12px;
    margin-left:-12px;
}
.slideshow-arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin:0px;
    position: relative;
}
.slideshow-arrow-right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top:-1px;
    left:-1px;
    position: relative;
}
.slideshow-arrow-left {
  left:1px;
  top:-1px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
/* slideshow slide styles */
.slide{
    transition:all 1s ease-in-out;
    position: absolute;
    height: 350px;
    width:50%;
    z-index: -1;
}
.slide > p{
  color:white;
  text-align:center;
}
.slide-0{
    transform:translateX(-100%) translateY(100px);
    opacity: 0;
}
.slide-1{
    transform:translateX(-55%) translateY(100px);
    z-index: 1;
}
.slide-2{
    transform: translateX(55%) translateY(100px) scale(1.2,1.5);
    z-index: 2;
}
/* prevent elements inside from being messed up by rectangular scale */
.slide > div >  p,pre,h1,h2,h3,h4,img{
  transform:scale(1,0.8);
}
.slide-3{
    transform:translateX(165%) translateY(100px);
    z-index: 1;
}
.slide-4{
    transform:translateX(200%) translateY(100px);
    opacity: 0;
}
/* social icons code */
.wrapper,.copyright {
	padding: 20px;
	text-align: center;
}
hr{
	margin: 30px 20px;
	border-top:2px solid #1C1E26 ;
	border-bottom:2px solid #38404D;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 20px;
	height: 40px;
	width:40px;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 40px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 
.social-icons .fa-adn{background-color:#504e54;} 
.social-icons .fa-apple{background-color:#aeb5c5;} 
.social-icons .fa-android{background-color:#A5C63B;}  
.social-icons .fa-bitbucket,.social-icons .fa-bitbucket-square{background-color:#003366;} 
.social-icons .fa-bitcoin,.social-icons .fa-btc{background-color:#F7931A;} 
.social-icons .fa-css3{background-color:#1572B7;} 
.social-icons .fa-dribbble{background-color:#F46899;}  
.social-icons .fa-dropbox{background-color:#018BD3;}
.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  
.social-icons .fa-flickr{background-color:#FF0084;}
.social-icons .fa-foursquare{background-color:#0086BE;}
.social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;} 
.social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;} 
.social-icons .fa-html5{background-color:#E54D26;}
.social-icons .fa-instagram{background-color:#A1755C;}
.social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;} 
.social-icons .fa-linux{background-color:#FBC002;color:#333;}
.social-icons .fa-maxcdn{background-color:#F6AE1C;}
.social-icons .fa-pagelines{background-color:#241E20;color:#3984EA;}
.social-icons .fa-pinterest,.social-icons .fa-pinterest-square{background-color:#CC2127;} 
.social-icons .fa-renren{background-color:#025DAC;}
.social-icons .fa-skype{background-color:#01AEF2;}
.social-icons .fa-stack-exchange{background-color:#245590;}
.social-icons .fa-stack-overflow{background-color:#FF7300;}
.social-icons .fa-trello{background-color:#265A7F;}
.social-icons .fa-tumblr,.social-icons .fa-tumblr-square{background-color:#314E6C;} 
.social-icons .fa-twitter,.social-icons .fa-twitter-square{background-color:#32CCFE;} 
.social-icons .fa-vimeo-square{background-color:#229ACC;}
.social-icons .fa-vk{background-color:#375474;}
.social-icons .fa-weibo{background-color:#D72B2B;}
.social-icons .fa-windows{background-color:#12B6F3;}
.social-icons .fa-xing,.social-icons .fa-xing-square{background-color:#00555C;} 
.social-icons .fa-youtube,.social-icons .fa-youtube-play,.social-icons .fa-youtube-square{background-color:#C52F30;}
 