/* fonts */
@font-face{
    font-family:apercumono;
    src:url(fonts/ApercuMono.otf);
}
@font-face{
  font-family: calluna;
  src:url(fonts/CallunaSansRegular.otf);
}
/* util */
.vertical-center{
    position:relative;
    top:50%;
    transform:translateY(-50%);
}
/* backgrounds */
.top-background{
  background:radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  position: absolute;
  width: 100%;
  height:calc(12vh + 50px + 500px);
  max-height: 630px;
  min-height: 600px;
  z-index: -2;
}
/* navbar */
.navbar{
    height: 12vh;
    max-height: 80px;
    min-height: 50px;
    width:100%;
    transition:all .5s;
}
.navbar:hover{
  background:black;
}
.navbar > ul { 
    margin: auto; 
    padding: 0; 
    list-style: none; 
    display: table;
    text-align: left;
}
.navbar > ul > li { 
    float: left;
    vertical-align: middle;
    text-align: center;
    margin: 0px;
    line-height: 7vh;
}
.navbar > ul > li > a {
    font-family: calluna;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    cursor:pointer;
    display: inline-block;
    padding-top:15px;
    margin-top:15px;
    padding: 0px 20px;
    position: relative;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.navbar > ul > li > a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
.navbar > ul > li > a:hover:after { 
    width: 50%; 
    left: 25%; 
}
body,html{
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}
/* slideshow */
.slideshow-wrapper{
    position: relative;
}
.slideshow-header{
    height: 50px;
    text-align:center;
}
/*slideshow  header styles */
.slideshow-header > h1{
    margin:0px;
    font-family: apercumono;
    color:white;
    font-weight: 300;
    letter-spacing: -3px;
    display:inline-block;
}
.typed-cursor {
    font-family: apercumono;
    font-weight: 100;
    font-size: 32px;
    color: white;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
    /* vertical centering */
    position:relative;
    top:7px;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
/* slideshow styles */
.slideshow{
    height: 500px;
    transform:translateY(0px);
}
/* slideshow button styles */
.slideshow-btn-wrapper{
  height:calc(40% + 4px);
  width:64px;
  position: absolute;
  top:30%;
  z-index:3;
  border:1px solid white;
  border-left:none;
  opacity: 0.7;
}
.slideshow-btn{
  top:1px;
  border:1px solid black;
  background:#282828;
  height:calc(100% - 2px);
  width:calc(100% - 2px);
  cursor:pointer;
  transition:all .3s;
}
.slideshow-btn-left{
  border-radius:15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.slideshow-btn-right{
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-left:1px solid white;
  border-right:none;
  right:0px;
  position: absolute;
}
.slideshow-btn-right > div{
  border:1px solid black;
  top:0px;
}
.slideshow-btn:hover{
  background:#3d3d3d;
}
.slideshow-btn:active{
  transition:all 0s;
  background:#2b2b2b;
  cursor:default;
}
/* slideshow slide styles */
.slide{
    transition:all 1s ease-in-out;
    position: absolute;
    height: 300px;
    width:50%;
    z-index: -1;
}
.slide-0{
    transform:translateX(-100%) translateY(100px);
    background:magenta;
    opacity: 0;
}
.slide-1{
    transform:translateX(-55%) translateY(100px);
    background:blue;
    z-index: 1;
}
.slide-2{
    transform: translateX(55%) translateY(100px) scale(1.2,1.5);
    background:green;
    z-index: 2;
}
.slide-3{
    transform:translateX(165%) translateY(100px);
    background:grey;
    z-index: 1;
}
.slide-4{
    transform:translateX(200%) translateY(100px);
    background:grey;
    opacity: 0;
}