p, h1, h2, h3, h4{
    font-family: Courier;
    font-weight: bold;
}
a{
    color:#4078c0;
    text-decoration: underline;
    font-weight: normal;
}
h2{
    font-size:28px;
    margin:0px;
    margin-top:5%;
}
body{
    background:black;
    margin:0px;
    padding:0px;
}
.project{
    transition: all 1s ease 0s;
    background:#F0F0F0;
    width:22.5%;
    height:280px;
    position: relative;
    border-radius:5px;
    margin:1.25%;
    float:left;
    text-align:center;
}
.project:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0 0 50px #888888;
}
#banner{
    height:50px;
    display:block;
    background: linear-gradient(grey,#181818), #181818;
    text-align:center;
}