p{
    font-family: Courier;
    font-weight: bold;
}
.project{
    transition: all 2s ease 0s;
    background:#F0F0F0;
    width:20%;
    border-radius:5px;
    margin:2.5%;
    float:left;
}
.project:hover{
    transform: scale(1.07,1.07);
    box-shadow: 0 0 50px #888888;
}