@font-face{
    font-family: Lobster;
    src : url("fonts/Lobster1.4.otf") format("opentype");
}
.video-wrapper{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    text-align:center;
    border-radius:5px;
}
.video-demo-wrapper > img:hover{
    cursor:pointer;
}
.video-wrapper > pre{
    font-family: Courier;
    font-size:12px;
    color:white;
    margin:2px;
}
.video-demo-wrapper{
    margin-top:-5%;
    position: relative;
    width: calc(100% - 10px);
    margin-left:5px;
    margin-right:5px;
    padding-bottom: 56.25%;
}
.video-demo-wrapper > img{
    border-radius: 3px;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width: 100%;
    height: calc(90% - 34px);
}
#bb-slide{
    text-align:center;
}
#bb-slide > h3{
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    color:white;
    font-style:italic;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top:5px;
}
#bb-slide > p{
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
    color:white;
    padding:0px;
    margin:0px;
}
#hs-wip{
    text-align:center;
    color:white;
}
#hs-wip > h3{
    font-family: Lobster;
    font-weight: 50;
}